<!-- Footer Section Begin -->
<footer class="footer">
    <!-- <div class="page-up">
        <a href="#" id="scrollToTopButton"><img src="img/icon.png" alt=""></a>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="http://<%= domain %>"><img src="img/rabbit.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-3">
                <p style="color:honeydew;">Rabbit by <a style="text-decoration: none;" href="https://fumigram.com">Fumigram</a><br>
                  <% if (config.author) { %>
                    Created by: <b style="color: #b64e09;"><%= config.author %></b>
                  <% } %>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="http://<%= domain %>/js/bootstrap.min.js"></script>
<script src="http://<%= domain %>/js/owl.carousel.js"></script>
<script src="http://<%= domain %>/js/jquery.slicknav.js"></script>
<script src="http://<%= domain %>/js/nivo-lightbox.js"></script>
<script src="http://<%= domain %>/js/scrolling-nav.js"></script>
<script src="http://<%= domain %>/js/jquery.easing.min.js"></script>
<script src="http://<%= domain %>/js/jquery.magnific-popup.min.js"></script>
<script src="http://<%= domain %>/js/main.js"></script>