<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Business, Service">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Rabbit | Commands</title>
    <!--====== Favicon Icon ======-->
    <%- include('./favicons.ejs') %>
    <% if (analitics) { %>
    <%- include('./analytics.ejs') %>
    <% } %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://<%= domain %>/css/style2.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/slicknav.min.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/bootstrap4.min.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/IBM Plex Sans.css">    
    <link rel="stylesheet" href="http://<%= domain %>/css/Helvetica Neue.css">
    <script src="http://<%= domain %>/js/jquery-1.11.1.min.js"></script>
  </head>
  <noscript><div class="no-js">To view the dashboard please enable javascript in your browser.</div></noscript>
<body>
<!-- Page Preloder -->
<div id="CMDpreloder">
  <div class="CMDloader"></div>
</div>