<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <% function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
     } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><% if(title) { %><%- capitalizeFirstLetter(bot.user.username) + ' | ' + title %><% } else { %>A Darling <%- capitalizeFirstLetter(bot.user.username) + ' Bot' %><% } %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="http://<%= domain %>/djs/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="http://<%= domain %>/djs/vendors/css/vendor.bundle.base.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="http://<%= domain %>/css/dashboard.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/IBM Plex Sans.css">    
    <%- include('./favicons.ejs') %>
    <% if (analitics) { %>
    <%- include('./analytics.ejs') %>
    <% } %>
  </head>
  <body class="sidebar-toggle-display sidebar-hidden">