<footer>
  <section id="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">  
          <div class="footer-logo">
            <img src="img/rabbit.png" alt="" style="width: 210px;">
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12"></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12"></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12"></div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Some Information</h3>
            <ul class="menu">
              <li><a href="https://discord.gg/p7k64z7CcA">- Discord</a></li>
              <% if (config.status) { %>
              <% if (path !== "/status") { %>
              <li><a href="/status">- Status</a></li>
              <% } %>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <% if (config.author) { %>
              <p>Created by: <a href=""><%= config.author %></a></p>
              <% } %>
            </div>                         
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-chevron-up"></i>
</a> 
<script src="http://<%= domain %>/js/jquery-min.js"></script>
<script src="http://<%= domain %>/js/popper.min.js"></script>
<script src="http://<%= domain %>/js/bootstrap.min.js"></script>
<script src="http://<%= domain %>/js/owl.carousel.js"></script>  
<script src="http://<%= domain %>/js/jquery.slicknav.js"></script>  
<script src="http://<%= domain %>/js/nivo-lightbox.js"></script>      
<script src="http://<%= domain %>/js/jquery.nav.js"></script>    
<script src="http://<%= domain %>/js/scrolling-nav.js"></script>    
<script src="http://<%= domain %>/js/jquery.easing.min.js"></script>
<script src="http://<%= domain %>/js/jquery.magnific-popup.min.js"></script> 
<script src="http://<%= domain %>/js/main.js"></script>
<!-- <script src="http://<%= domain %>/js/index.js"></script> -->
</body>
</html>
