<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Business, Service">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <% function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
       } %>
    <title><% if(title) { %><%- capitalizeFirstLetter(bot.user.username) + ' | ' + title %><% } else { %>A Darling <%- capitalizeFirstLetter(bot.user.username) + ' Bot' %><% } %></title>
    <!--====== Favicon Icon ======-->
    <%- include('./favicons.ejs') %>
    <% if (analitics) { %>
    <%- include('./analytics.ejs') %>
    <% } %>
    <%- include("./seo", { bot, user, path, description, title, twitter, url, image }) %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://<%= domain %>/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/animate.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/LineIcons.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/owl.carousel.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/nivo-lightbox.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/owl.theme.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/magnific-popup.css">
    <link rel="stylesheet" href="http://<%= domain %>/css/style.css">    
    <link rel="stylesheet" href="http://<%= domain %>/css/slicknav.min.css">    
    <link rel="stylesheet" href="http://<%= domain %>/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Helvetica%20Neue" rel="stylesheet">
  
    <script async src="http://arc.io/widget.min.js#oFnnmBwr"></script>
   
  </head>
  <noscript><div class="no-js">To view the dashboard please enable javascript in your browser.</div></noscript>
  <%- include("./nav", { bot, user, path, url, image, name, tag }) %>
  <div class="blur" id="body-blur"></div>
  <%- title === "Dashboard" ? "" : "" %>
  <body>
 <div id="preloader"><div class="loader" id="loader-1"></div></div>