<%- include("partials/dbhead", { bot, path, user, description, title: "Dashboard", twitter, url, image }) %>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a href="https://<%= hostname %>" style="text-decoration: none;"><span class="name" style="color: honeydew;font-size: 22px;"><%- bot.user.username %></span><span class="tag" style="font-size: 20px;color:deepskyblue;">#<%- bot.user.discriminator %></span></a>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                  <p class="text-center"><span class="bold">SERVERS YOU MANAGE</span></p>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <% if (user) { %>
                <% if (user.avatar) {
                    avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=128";
                   } else {
                    avatar = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404.png?v=1602412158188";
                   }
                   %>
                <a class="nav-link" id="profileDropdown" href="javascript:void(0)" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="<%= avatar %>" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name"><%= user.username %>#<%= user.discriminator %></p>
                  </div>
                </a>
                <% } %>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                    <% if (path === "/dashboard") { %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item" href="https://<%= hostname %>/">
                          <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                              <i class="mdi mdi-home text-primary"></i>
                            </div>
                          </div>
                          <div class="preview-item-content">
                            <p class="preview-subject mb-1">Home</p>
                          </div>
                        </a>
                       <% } else if (path !== "/") { %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item" href="https://<%= hostname %>/">
                          <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                              <i class="mdi mdi-home text-primary"></i>
                            </div>
                          </div>
                          <div class="preview-item-content">
                            <p class="preview-subject mb-1">Home</p>
                          </div>
                        </a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item" href="/status">
                          <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                              <i class="mdi mdi-chart-bar text-primary"></i>
                            </div>
                          </div>
                          <div class="preview-item-content">
                            <% if (config.status) { %>
                            <% if (path !== "/status") { %>
                              <p class="preview-subject mb-1">Status</p>
                            <% } %>
                            <% } %>
                          </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item" href="https://<%= hostname %>/logout">
                            <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-logout text-danger"></i>
                            </div>
                            </div>
                            <div class="preview-item-content">
                            <p class="preview-subject mb-1">Log out</p>
                            </div>
                        </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <% user.guilds.forEach(guild => {
                    const permsOnGuild = new perms(guild.permissions);
                    if(!permsOnGuild.has("MANAGE_GUILD")) {
                    return
                    }
                   %>
                   <% if (guild.icon) {
                    iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=512";
                   } else {
                    iconurl = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949";
                   }
                   %>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <img src="<%= iconurl %>" class="img-lg rounded" alt="<%= guild.name %>" />
                      <div class="ml-3">
                        <h6><%= guild.name %></h6>
                        <p class="text-muted">Server</p>
                        <% if (bot.guilds.cache.get(guild.id)) { %>
                            <a type="button" href="/dashboard/<%= guild.id %>" class="btn btn-outline-primary btn-icon-text">
                              <i class="mdi mdi-pencil-box-outline btn-icon-prepend"></i>Manage 
                            </a>
                          <% } else { %>
                            <a type="button" class="btn btn-outline-primary btn-icon-text" href="<%= `https://discord.com/oauth2/authorize?client_id=${bot.user.id}&permissions=1916267615&redirect_uri=${encodeURIComponent(config.domain)}%2Fdashboard&guild_id=${guild.id}&response_type=code&scope=guilds%20identify%20bot` %>">
                              <i class="mdi mdi-book-plus btn-icon-prepend"></i>Add Bot 
                            </a>
                          <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include("partials/dbfooter") %>