<%- include("partials/dbhead", { bot, path, user, description, title: "Guild", twitter, url, image }) %>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a href="https://<%= hostname %>" style="text-decoration: none;"><span class="name" style="color: honeydew;font-size: 22px;"><%- bot.user.username %></span><span class="tag" style="font-size: 20px;color:deepskyblue;">#<%- bot.user.discriminator %></span></a>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <p class="text-center"><span class="bold"><%= guild.name %></span></p>
              </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <% if (user) { %>
              <% if (user.avatar) {
                  avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=128";
                 } else {
                  avatar = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404.png?v=1602412158188";
                 }
                 %>
              <a class="nav-link" id="profileDropdown" href="javascript:void(0)" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="<%= avatar %>" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name"><%= user.username %>#<%= user.discriminator %></p>
                </div>
              </a>
              <% } %>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <% if (path === "/dashboard") { %>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item" href="https://<%= hostname %>/">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-home text-primary"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <p class="preview-subject mb-1">Home</p>
                        </div>
                      </a>
                     <% } else if (path !== "/") { %>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item" href="https://<%= hostname %>/">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-home text-primary"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                          <p class="preview-subject mb-1">Home</p>
                        </div>
                      </a>
                      <% } %>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item" href="/dashboard">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-format-float-right text-primary"></i>
                          </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Servers</p>
                        </div>
                      </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item" href="/status">
                          <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                              <i class="mdi mdi-chart-bar text-primary"></i>
                            </div>
                          </div>
                          <div class="preview-item-content">
                            <% if (config.status) { %>
                            <% if (path !== "/status") { %>
                              <p class="preview-subject mb-1">Status</p>
                            <% } %>
                            <% } %>
                          </div>
                        </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item" href="https://<%= hostname %>/logout">
                          <div class="preview-thumbnail">
                          <div class="preview-icon bg-dark rounded-circle">
                              <i class="mdi mdi-logout text-danger"></i>
                          </div>
                          </div>
                          <div class="preview-item-content">
                          <p class="preview-subject mb-1">Log out</p>
                          </div>
                      </a>
            </li>
          </ul>
        </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
           <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Dashboard bot control will be out in another version of Rabbit. for now use the bot to fully configure everything. Thanks for using my darling rabbit bot :)</h3>
            </div>
            <div class="row">
              <div class="col-md-6 col-xl-5 grid-margin stretch-card">
                <div class="card">
                    <% if (guild.icon) {
                        iconurl = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png?size=512";
                       } else {
                        iconurl = "https://" + hostname + "/pics/invaild-avatar.png";
                       }
                       %>
                       <% function checkdays(date) {
                        let now = new Date();
                        let diff = now.getTime() - date.getTime();
                        let days = Math.floor(diff / 86400000);
                        return days + (days == 1 ? " day" : " days") + " ago";
                       } %>
                  <div class="card-body">
                    <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel">
                      <div class="item">
                        <img src="<%= iconurl %>" alt="<%= guild.name %>" style="width: 540px; height: 500px;">
                      </div>
                    </div>
                    <div class="d-flex py-4">
                      <div class="preview-list w-100">
                        <div class="preview-item p-0">
                          <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                              <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h4 class="preview-subject"><%= guild.name %></h4>
                              </div>
                              <p class="text-muted"><%= guild.description %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h5>Server Information</h5>
                    <hr>
                    <p class="region sinfo"><svg class="ssvg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg> Location: <%= guild.region %></p>
                    <p class="server-owner sinfo" title="ID: <%= guild.ownerID %>"><svg class="ssvg" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><rect fill="none" height="24" width="24"/><g><path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,18H6l0-1.61c0-1.18,0.68-2.26,1.76-2.73 C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C2,12.1,2.9,13,4,13z M5.13,14.1 C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43V18l4.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85 C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1c0.4,0.68,0.63,1.46,0.63,2.29V18l4.5,0V16.43z M12,6c1.66,0,3,1.34,3,3 c0,1.66-1.34,3-3,3s-3-1.34-3-3C9,7.34,10.34,6,12,6z"/></g></svg> Owner: <%= guild.owner.displayName %></p>
                    <p class="verification sinfo"><svg class="ssvg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm0 10.99h7c-.53 4.12-3.28 7.79-7 8.94V12H5V6.3l7-3.11v8.8z"/></svg> Verification Level: <%= guild.verificationLevel.toLowerCase() %></p>
                    <p class="server-members sinfo"><svg class="ssvg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg> Members: <%= guild.memberCount %>/<%= guild.maximumMembers %>
                    <p class="server-boosts sinfo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M11 21h-1l1-7H7.5c-.58 0-.57-.32-.38-.66.19-.34.05-.08.07-.12C8.48 10.94 10.42 7.54 13 3h1l-1 7h3.5c.49 0 .56.33.47.51l-.07.15C12.96 17.55 11 21 11 21z"/></svg> Server boosts: <%= guild.premiumSubscriptionCount %> (<%= guild.premiumTier %> level)</p>
                    <p class="server-time sinfo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/></svg> Created: <%= guild.createdAt.toUTCString().substr(0, 16)%> <%= checkdays(guild.createdAt) %></p>
                    <p class="server-mfa sinfo"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></svg> MFA Level: <%= guild.mfaLevel %></p>
                    <hr>
                    <h5>Server Roles</h5>
                    <% let startstring = "<span class='r' style='color:"; let middlestring = "'>"; let endstring = "</span>";
                    let rolemap = guild.roles.cache
                    .sort((a, b) => b.position - a.position)
                    .map(r => startstring + r.hexColor + middlestring + r.name + endstring)
                    .join(" "); %>
                    <% if (rolemap.length > 11024) {
                    rolemap = "To many roles to display";
                    } %>
                    <% if (!rolemap) {
                    rolemap = "No roles";
                    } %>
                    <%- rolemap -%>
                  </div>
                </div>
              </div> <!-- sub col -->
              <!-- sub col -->
              <div class="col-6">
                <div class="row">
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="faq-block card-body">
                        <div class="container-fluid bg-primary py-2">
                            <p class="mb-0 text-white">Questions you may ask.</p>
                          </div>
                        <div id="accordion-1" class="accordion">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Why is there no dashboard to control the bot? </a>
                              </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                              <div class="card-body">That's because I never really studied <code>ejs</code>before actually I'v never went into it until now so there's only little I can do. I'm only familiar using <code>javascript</code> and other programming languages. as for <code>ejs</code> I'll need time in studing it. 😅😅😅</div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h5 class="mb-0">
                                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Will there ever be dashboard bot control? </a>
                              </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
                              <div class="card-body">Yes maybe someday. when I'v gotten familiar using <code>ejs</code> I'll then create a fully functional dashboard for Rabbit. or if there's a team member who is experience in <code>javascript</code> and <code>ejs.</code> and is willing to be a team member of rabbit Development.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 grid-margin">
                    <div class="card">
                          <div class="card">
                              <div class="card-body">
                                <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel">
                                    <div class="item">
                                      <img src="https://media.discordapp.net/attachments/711910361133219903/872461582481903637/banner.jpg?width=834&height=600" alt="" style="width: 663px; height: 500px;">
                                    </div>
                                  </div>
                                  <hr>
                                  <p class="region sinfo">Description : I got the idea of creating the rabbit bot from a game puzzle games I played. I really liked playing puzzle games sometimes they can be frustrating and anoying but it's very interesting. I liked arranging this picture in particular so I decided to turn it into a discord bot.
                                      there were quite a lot of discord bots out there And I really wanted to create one. So there you have it <kbd>A DARLING RABBIT BOT</kbd>.
                                      I hope you like it >_< you can join rabbit <a href="https://discord.gg/tyjhKE3VdB">server</a>. Also fumigram is an Image sharing community for anime fans. I really love watching anime and reading manga. It's not much but I hope you like it :) for more Information about fumigram do visit <a href="https://fumigram.com/">fumigram.com</a>
                                  </p>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div> <!-- sub col -->
            </div><!-- parent row -->
          </div>        
        </div>
    </div>
  </div>
<%- include("partials/dbfooter") %>